/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #5B99C2;
}

/* Header Styles */
header {
    background: #1F316F;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #F9DBBA;
    text-decoration: none;
}

/* Main Content Styles */
main {
    padding: 20px;
    padding-bottom: 80px;
}

/* Section Styles */
section {
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:60%;
    min-width: 800px;
}

/* Footer Styles */
footer {
    background: #1A4870;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

section h2 {
    margin: 0;
    flex: 1;
}

section img {
    max-width: 150px; /* Adjust the width as needed */
    margin-left: 20px;
    border-radius: 5px;
}